[Desktop Entry]
Name=Power Manager
Name[bg]=Управление на захранването
Name[ca]=Gestor d'energia
Name[ca@valencia]=Gestor d'energia
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχείριση ενέργειας
Name[en_GB]=Power Manager
Name[es]=Gestor de energía
Name[et]=Toitehaldur
Name[fr]=Gestion de l'alimentation
Name[ga]=Bainisteoir Cumhachta
Name[gl]=Xestor da enerxía
Name[hr]=Upravitelj napajanja
Name[it]=Gestore dell'energia
Name[km]=កម្មវិធី​គ្រប់គ្រង​ថាមពល
Name[ko]=전원 관리자
Name[ml]=വൈദ്യുതി നടത്തിപ്പുകാരന്‍
Name[ms]=Pengurus Kuasa
Name[nb]=Strømstyring
Name[nds]=Stroomkuntrull
Name[nl]=Energiebeheer
Name[nn]=Straumhandsaming
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pt]=Gestor de Energia
Name[pt_BR]=Gerenciador de energia
Name[ro]=Gestionar de alimentare
Name[sv]=Hantering av strömförsörjning
Name[tr]=Güç Yöneticisi
Name[uk]=Керування живленням
Name[x-test]=xxPower Managerxx
Name[zh_CN]=电源管理器
Name[zh_TW]=電源管理
Comment=Power management applet
Comment[bg]=Аплет за управление на захранването
Comment[ca]=Una miniaplicació gestora de l'energia
Comment[ca@valencia]=Una miniaplicació gestora de l'energia
Comment[cs]=Applet správy napájení
Comment[da]=Applet til strømstyring
Comment[de]=Miniprogramm zur Energieverwaltung
Comment[el]=Μικροεφαρμογή διαχείρισης ενέργειας
Comment[en_GB]=Power management applet
Comment[es]=Miniaplicación de gestión de energía
Comment[et]=Toidehalduse aplett
Comment[fr]=Applet de gestion de l'alimentation
Comment[ga]=Feidhmchláirín bainisteoireachta cumhachta
Comment[gl]=Applet de xestión da enerxía
Comment[hr]=Applet upravitelja napajanja
Comment[it]=Applicazione per la gestione dell'energia
Comment[km]=អាប់ភ្លេត​គ្រប់គ្រង​ថាមពល
Comment[ko]=전원 관리 애플릿
Comment[ml]=വൈദ്യുതി നടത്തിപ്പിനുള്ള  ലഘു പ്രയോഗം
Comment[ms]=Aplet pengurusan kuasa
Comment[nb]=Miniprogram for strømstyring
Comment[nds]=Stroomkuntrull-Lüttprogramm
Comment[nl]=Energiebeheer-applet
Comment[nn]=Eit panelprogram for straumhandsaming
Comment[pa]=ਪਾਵਰ ਮੈਨੇਜਰ ਐਪਲਿਟ
Comment[pt]='Applet' de gestão de energia
Comment[pt_BR]=Miniaplicativo de gerenciamento de energia
Comment[ro]=Miniaplicație pentru gestiunea alimentării
Comment[sv]=Miniprogram för hantering av strömförsörjning
Comment[tr]=Güç yönetimi programcığı
Comment[uk]=Аплет керування живленням
Comment[x-test]=xxPower management appletxx
Comment[zh_CN]=电源管理器小程序
Comment[zh_TW]=電源管理小程式
Icon=battery-charging
Exec=guidance-power-manager
Terminal=false
Type=Application
Categories=Qt;KDE;
OnlyShowIn=KDE;
